/.vs
/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
mAP_tool/inference/
Code_Test/.vs/Code_Test/FileContentIndex/6d98e7b8-d084-4e30-8132-3166b825bac0.vsidx
Code_Test/.vs/Code_Test/FileContentIndex/8ac152f6-2b05-4d5d-810b-25876796a274.vsidx
Code_Test/.vs/Code_Test/FileContentIndex/bbf8e7f5-c6d1-45f3-9845-c0045c2d3978.vsidx
Code_Test/.vs/Code_Test/FileContentIndex/d51bd8ff-e776-41dc-9822-45f7b4365c9c.vsidx
Code_Test/.vs/Code_Test/v17/Browse.VC.opendb
Code_Test/.vs/Code_Test/FileContentIndex/e7a1e36c-540a-44a5-9169-7788dd868d63.vsidx
Code_Test/.vs/Code_Test/FileContentIndex/1b3cfdb1-bbf8-4878-b768-be8a4bcb28d4.vsidx
